$font-stack: Helvetica, sans-serif;
$primamry-color: #333;


body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    font: 100% $font-stack;
    color: $primamry-color;
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
